In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
from pandas.api.types import CategoricalDtype

import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns
sns.set_style()
import math as mt
from scipy import stats, linalg

In [2]:
#Caixa com todos os blocos de código
#Tratando os campos de Latitude e longitude para ajustar a base de Cidades
df = pd.read_csv('C:/Users/Asus/Downloads/Projeto_DNC/kc_house_data_tr.csv', sep = ',')
df[['lat','log']] = df[['lat','log']].astype('string')
df['lat'] = df['lat'].str.slice(stop = 6)
df['log'] = df['log'].str.slice(stop = 8)
df['chave'] = df['lat']+':'+df['log']

#Criando as tabelas unicas de Venda mais antiga e mais nova
df_max = pd.pivot_table(df, values=['data','preço'], index=['registro'], aggfunc={'data': np.max, 'preço': np.max})
df_min = pd.pivot_table(df, values=['data','preço'], index=['registro'], aggfunc={'data': np.min,'preço': np.min})
#unindo as tabelas unicas e calculando as variações de preço de venda
df_var = pd.merge(df_max, df_min, on='registro',how='left')
df_var['variacao'] = df_var['preço_x'] - df_var['preço_y']
df_var = df_var.sort_values(by='variacao',ascending=False)
df_var['%variacao'] = df_var['variacao'] / df_var['preço_y']

#fazendo o "procv" das variações de preço na base df
df = pd.merge(df, df_var, on='registro',how='left')

df

#trazendo e preparando base com nome das cidades
#df_city = pd.read_csv(r'C:\Users\matheus.cavalcante\Documents\Data_Science\DNC\Projeto_Slot3\Projeto_DNC\DNC_Deliverable_01\script\Addresses_in_King_County___address_point.csv',sep = ',',low_memory = False)
#df_city2 = df_city.get(['ZIP5','CTYNAME','LAT','LON'])
#df_city2 = df_city2.drop_duplicates()
#df_city2 = df_city2.rename(columns={'ZIP5': 'cep','LAT': 'lat','LON':'log'})
#df_city2[['lat','log']] = df_city2[['lat','log']].astype(str)
#df_city2['lat'] = df_city2['lat'].str.slice(stop = 6)
#df_city2['log'] = df_city2['log'].str.slice(stop = 8)
#df_city2['chave'] = df_city2['lat']+':'+df_city2['log']
#df_city2 = df_city2.drop_duplicates()
#df = pd.merge(df, df_city2, on='chave',how='left')
#df
#df['registro'].nunique() = 21436 -> Contagem de Casas distintas

,registro,data,preço,quartos,banheiros,casa_m²,lote_m²,nº_pavtos,frente_mar,visao,condicao,padrao,excluir_3,subsolo_m²,construção,reforma,cep,lat,log,exclur_1,excluir_2,chave,data_x,preço_x,data_y,preço_y,variacao,%variacao
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.511,-122.257,1340,5650,47.511:-122.257,2014-10-13,221900.0,2014-10-13,221900.0,0.0,0.0
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.721,-122.319,1690,7639,47.721:-122.319,2014-12-09,538000.0,2014-12-09,538000.0,0.0,0.0
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.737,-122.233,2720,8062,47.737:-122.233,2015-02-25,180000.0,2015-02-25,180000.0,0.0,0.0
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.520,-122.393,1360,5000,47.520:-122.393,2014-12-09,604000.0,2014-12-09,604000.0,0.0,0.0
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.616,-122.045,1800,7503,47.616:-122.045,2015-02-18,510000.0,2015-02-18,510000.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,360000.0,3,2.50,1530,1131,3.0,0,0,3,8,1530,0,2009,0,98103,47.699,-122.346,1530,1509,47.699:-122.346,2014-05-21,360000.0,2014-05-21,360000.0,0.0,0.0
21609,6600060120,2015-02-23,400000.0,4,2.50,2310,5813,2.0,0,0,3,8,2310,0,2014,0,98146,47.510,-122.362,1830,7200,47.510:-122.362,2015-02-23,400000.0,2015-02-23,400000.0,0.0,0.0
21610,1523300141,2014-06-23,402101.0,2,0.75,1020,1350,2.0,0,0,3,7,1020,0,2009,0,98144,47.594,-122.299,1020,2007,47.594:-122.299,2014-06-23,402101.0,2014-06-23,402101.0,0.0,0.0
21611,291310100,2015-01-16,400000.0,3,2.50,1600,2388,2.0,0,0,3,8,1600,0,2004,0,98027,47.534,-122.069,1410,1287,47.534:-122.069,2015-01-16,400000.0,2015-01-16,400000.0,0.0,0.0
21612,1523300157,2014-10-15,325000.0,2,0.75,1020,1076,2.0,0,0,3,7,1020,0,2008,0,98144,47.594,-122.299,1020,1357,47.594:-122.299,2014-10-15,325000.0,2014-10-15,325000.0,0.0,0.0

In [3]:
#Vizualização resumo de quantidade de registros (vendas) por casa
df4 = df.groupby(['registro']).count()
df4.sort_values(by=['data'],ascending=False)

,data,preço,quartos,banheiros,casa_m²,lote_m²,nº_pavtos,frente_mar,visao,condicao,padrao,excluir_3,subsolo_m²,construção,reforma,cep,lat,log,exclur_1,excluir_2,chave,data_x,preço_x,data_y,preço_y,variacao,%variacao
registro,,,,,,,,,,,,,,,,,,,,,,,,,,,
795000620,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
1000102,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
3578401060,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
3528000040,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
4345000510,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2768000295,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2768000270,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2767900355,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
2767800140,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
9900000190,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [4]:
#df['cidade'] = df3.ISIN.map(df1.set_index('ISIN')['Security'])
#remove column ISIN
#df3.drop('ISIN', axis=1, inplace=True)
#df5 = pd.merge(df, df_city2, on='chave',how='left')
#df5 = df.merge(df_city2[['chave','City']],how='left',on='Person ID')
#df5 = df5.drop(columns=['exclur_1','excluir_2','excluir_3','lat_y','log_y','cep_y'], axis=1)
#df5 = df5.drop_duplicates()
#df5

In [4]:
trad = {
    'id' : 'registro',
    'date' : 'data', 
    'price' : 'preço', 
    'bedrooms' : 'quartos', 
    'bathrooms' : 'banheiros', 
    'sqft_living' : 'casa_M²',
    'sqft_lot' : 'lote_M²', 
    'floors' : 'nº_pavimentos', 
    'waterfront' : 'frente_mar', 
    'view' : 'visao', 
    'condition' : 'acabemento', 
    'grade' : 'padrao',
    'sqft_above' : 'area_casa_M²', 
    'sqft_basement' : 'subsolo_M²', 
    'yr_built' : 'construção', 
    'yr_renovated' : 'reforma', 
    'zipcode' : 'código-Postal',
    'lat' : 'latitude', 
    'long' : 'logitude', 
    'sqft_living15' : 'M²_casas_vizinhança', 
    'sqft_lot15' : 'M²_lotes_vizinhança'
    
    
}

In [2]:
df_new = df.rename(columns = {
    'id' : 'registro',
    'date' : 'data', 
    'price' : 'preço', 
    'bedrooms' : 'quartos', 
    'bathrooms' : 'banheiros', 
    'sqft_living' : 'casa_m²',
    'sqft_lot' : 'lote_m²', 
    'floors' : 'nº_pavtos', 
    'waterfront' : 'frente_mar', 
    'view' : 'visao', 
    'condition' : 'condicao', 
    'grade' : 'padrao',
    'sqft_above' : 'area_externa', 
    'sqft_basement' : 'subsolo_m²', 
    'yr_built' : 'construção', 
    'yr_renovated' : 'reforma', 
    'zipcode' : 'cep',
    'lat' : 'lat', 
    'long' : 'log', 
    'sqft_living15' : 'area_casa', 
    'sqft_lot15' : 'area_lote15'
    
    
})

NameError: name 'df' is not defined

In [ ]:
#df_new.drop(columns=['exclur_1','excluir_2','excluir_3','cep'], axis=1)

In [5]:
df.describe()

,registro,preço,quartos,banheiros,casa_m²,lote_m²,nº_pavtos,frente_mar,visao,condicao,padrao,excluir_3,subsolo_m²,construção,reforma,cep,exclur_1,excluir_2,preço_x,preço_y,variacao,%variacao
count,2.161300e+04,2.161300e+04,21613.000000,21613.000000,21613.000000,2.161300e+04,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,21613.000000,2.161300e+04,2.161300e+04,21613.000000,21613.000000
mean,4.580302e+09,5.400881e+05,3.370842,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,1986.552492,12768.455652,5.412105e+05,5.389669e+05,2243.649748,0.009291
std,2.876566e+09,3.671272e+05,0.930062,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,685.391304,27304.179631,3.667587e+05,3.674907e+05,21489.325373,0.093242
min,1.000102e+06,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,399.000000,651.000000,7.500000e+04,7.500000e+04,0.000000,0.000000
25%,2.123049e+09,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,1490.000000,5100.000000,3.240000e+05,3.200000e+05,0.000000,0.000000
50%,3.904930e+09,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,1840.000000,7620.000000,4.500000e+05,4.500000e+05,0.000000,0.000000
75%,7.308900e+09,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,2360.000000,10083.000000,6.450000e+05,6.430000e+05,0.000000,0.000000
max,9.900000e+09,7.700000e+06,33.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,6210.000000,871200.000000,7.700000e+06,7.700000e+06,529950.000000,3.218009

In [ ]:
# PONTUAÇÃO DOS QUARTOS

In [9]:
quartos = df['quartos'].tolist()

In [10]:
qu1 = []

for x in quartos:
    if x > 7:
        qu1.append(0)
    else:
        qu1.append(x)
print(qu1[0:10])

[3, 3, 2, 4, 3, 4, 3, 3, 3, 3]

In [ ]:
# PONTUAÇÃO DOS BANHEIROS

In [107]:
banheiros = df['banheiros'].tolist()
banheiros2 = []
for x in banheiros:
    x = mt.ceil(x)
    banheiros2.append(x)
print(len(banheiros2))

21613

In [12]:
bn = []
for x in banheiros2:
    if x == 0:
        bn.append(0)
    elif x == 1:
        bn.append(1)
    elif x == 2:
        bn.append(2)
    elif x == 3:
        bn.append(3)
    elif x == 4:
        bn.append(4)
    elif x == 5:
        bn.append(5)
    elif x == 6:
        bn.append(6)
    elif x == 7:
        bn.append(7)
    elif x == 8:
        bn.append(8)
        
print(len(bn))

21613

In [ ]:
# PONTUAÇÃO DA CONDIÇÃO DA CASA

In [13]:
condicao = df['condicao'].tolist()

In [14]:
cd = []
for x in condicao:
    if x == 1:
        cd.append(1)
    elif x == 2:
        cd.append(2)
    elif x == 3:
        cd.append(3)
    elif x == 4:
        cd.append(4)
    elif x == 5:
        cd.append(5)
        
print(len(cd))

21613

In [ ]:
# PONTUAÇÃO DO PADRÃO DE QUALIDADE DA CASA

In [15]:
padrao = df['padrao'].tolist()
print(len(padrao))

21613

In [16]:
pr = []
for x in padrao:
    if x < 3:
        pr.append(1)
    elif 2 < x < 5 :
        pr.append(2)
    elif 4 < x < 7:
        pr.append(3)
    elif 6 < x < 9:
        pr.append(4)
    elif 8 < x < 11:
        pr.append(5)
    elif 10 < x <13 :
        pr.append(6)
    elif x > 12:
        pr.append(7)
        
print(len(pr))

21613

In [ ]:
# PONTUAÇÃO DA VISTA DA CASA

In [17]:
visao = df['visao'].tolist()

In [18]:
vs = []
for x in visao:
    if x == 0:
        vs.append(0)
    elif x == 1:
        vs.append(1)
    elif x == 2:
        vs.append(2)
    elif x == 3:
        vs.append(3)
    elif x == 4:
        vs.append(4)
        
print(len(vs))

21613

In [ ]:
# PONTUAÇÃO DA VISTA FRENTE AO MAR

In [19]:
frente_mar = df['frente_mar'].tolist()

In [20]:
fm = []
for x in frente_mar:
    if x == 0:
        fm.append(0)
    elif x == 1:
        fm.append(1)
        
print(len(fm))

21613

In [ ]:
# PONTUAÇÃO DO NÚMERO DE PISOS

In [21]:
nº_pavto = df['nº_pavtos'].tolist()
nº_pavtos = []
for x in nº_pavto:
    nº_pavtos.append(int(mt.ceil(x)))
print(type(nº_pavtos[0]))

<class 'int'>

In [22]:
pv = []
for x in nº_pavtos:
    if x == 1:
        pv.append(0)
    elif x == 2:
        pv.append(1)
    elif x == 3:
        pv.append(2)
    elif x == 4:
        pv.append(3)
    elif x == 5:
        pv.append(4)
    elif x == 6:
        pv.append(5)

print(len(pv))

21613

In [ ]:
# PONTUAÇÃO DE ACORCO COM A QUALIDADE DO CEP QUE A CASA ESTÁ

In [23]:
ZIPs = df['cep'].tolist()

In [24]:
cep1PONTO = [98074, 98029, 98052, 98019, 98075, 98065, 98038]
cepn1PONTO = [98057, 98050, 98224, 98134, 98070, 98288, 98148]
cepp = [] 

for x in ZIPs:
    if x in cep1PONTO:
        cepp.append(1)
    elif x in cepn1PONTO:
        cepp.append(-1)
    else:
        cepp.append(0)
        
print(len(cepp))

21613

In [ ]:
# PONTUAÇÃO QUANTO A ÁREA DA CASA

In [27]:
casa_m = df['casa_m²'].tolist()
casa_m2 = []
for x in casa_m:
    casa_m2.append(round(x/3.28,2))
print(casa_m2[0:10])
1427
1910
2550

[359.76, 783.54, 234.76, 597.56, 512.2, 1652.44, 522.87, 323.17, 542.68, 576.22]

2550

In [28]:
cm2 = []
for y in casa_m2:
  if y <= 1427:
    cm2.append(0)
  if 1427 < y <= 1910:
    cm2.append(1)
  if 1910 < y <= 2550:
    cm2.append(2)
  if y > 2550:
    cm2.append(4) 
    
print(len(cm2))

21613

In [ ]:
# PONTUAÇÃO QUANTO A ÁREA DO LOTE

In [29]:
lotem = df['lote_m²'].tolist()
lotem2 = []
for x in lotem:
    lotem2.append(round(x/3.28,2))
print(lotem2[0:10])
print(lotem[0:10])

[1722.56, 2207.93, 3048.78, 1524.39, 2463.41, 31076.22, 2078.96, 2960.67, 2277.44, 2000.0]
[5650, 7242, 10000, 5000, 8080, 101930, 6819, 9711, 7470, 6560]

In [30]:
lm2 = []
for y in casa_m2:
  if y <= 5040:
    lm2.append(0)
  if 5040 < y <= 7618:
    lm2.append(1)
  if 7618 < y <= 10688:
    lm2.append(2)
  if y > 10688:
    lm2.append(4) 
    
print(len(lm2))

21613

In [ ]:
# PONTUAÇÃO QUANTO A PRESENÇA DE ESPAÇO EM SUBSOLO

In [31]:
sbs2 = df['subsolo_m²'].tolist()
subsolo = []
for x in sbs2:
    subsolo.append(round(x/3.28,2))
print(subsolo[0:50])

sbs3 = []

for x in subsolo:
    if x != 0:
        sbs3.append(1)
    else:
        sbs3.append(0)
        
print(sbs3[0:20])

[0.0, 121.95, 0.0, 277.44, 0.0, 466.46, 0.0, 0.0, 222.56, 0.0, 518.29, 91.46, 0.0, 0.0, 0.0, 295.73, 0.0, 0.0, 0.0, 0.0, 231.71, 219.51, 0.0, 0.0, 0.0, 0.0, 213.41, 0.0, 222.56, 0.0, 0.0, 0.0, 250.0, 0.0, 237.8, 240.85, 222.56, 0.0, 100.61, 0.0, 0.0, 493.9, 0.0, 0.0, 109.76, 0.0, 0.0, 0.0, 0.0, 179.27]
['não', 'sim', 'não', 'sim', 'não', 'sim', 'não', 'não', 'sim', 'não', 'sim', 'sim', 'não', 'não', 'não', 'sim', 'não', 'não', 'não', 'não']

In [ ]:
# PONTUAÇÃO QUANTO AO ANO DE CONSTRUÇÃO

In [32]:
construcao = df['construção'].tolist()
1951, 1975, 1997

(1951, 1975, 1997)

In [33]:
const = []
for y in construcao:
  if y <= 1951:
    const.append(0)
  if 1951 < y <= 1975:
    const.append(1)
  if 1975 < y <= 1997:
    const.append(2)
  if y > 1997:
    const.append(3) 
    
print(len(const))

21613

In [ ]:
# PONTUAÇÃO AO ANO DE REFORMA

In [34]:
reforma = df['reforma'].tolist()
print(len(reforma))

21613

In [35]:
rfm = []
for x in reforma:
    if x != 0:
        rfm.append(x)
print(len(rfm))

yrfm = [] 
for x in reforma:
    if x >= 2000:
        yrfm.append(3)
    if 1980 <= x < 2000:
        yrfm.append(2)
    if 1960 <= x < 1980:
        yrfm.append(1)
    if x < 1960:
        yrfm.append(0)
        
print(len(yrfm))

914
21613

In [36]:
df['pontos_constr']

KeyError: 'pontos_constr'

In [37]:
df.drop(df[df['pontos_constr'] == 0].index, inplace=True)

KeyError: 'pontos_constr'

In [38]:
df = df.reset_index(drop=True)

In [39]:
df.head(50)

,registro,data,preço,quartos,banheiros,casa_m²,lote_m²,nº_pavtos,frente_mar,visao,condicao,padrao,excluir_3,subsolo_m²,construção,reforma,cep,lat,log,exclur_1,excluir_2,chave,data_x,preço_x,data_y,preço_y,variacao,%variacao
0,7129300520,2014-10-13,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.511,-122.257,1340,5650,47.511:-122.257,2014-10-13,221900.0,2014-10-13,221900.0,0.0,0.0
1,6414100192,2014-12-09,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.721,-122.319,1690,7639,47.721:-122.319,2014-12-09,538000.0,2014-12-09,538000.0,0.0,0.0
2,5631500400,2015-02-25,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.737,-122.233,2720,8062,47.737:-122.233,2015-02-25,180000.0,2015-02-25,180000.0,0.0,0.0
3,2487200875,2014-12-09,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.520,-122.393,1360,5000,47.520:-122.393,2014-12-09,604000.0,2014-12-09,604000.0,0.0,0.0
4,1954400510,2015-02-18,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.616,-122.045,1800,7503,47.616:-122.045,2015-02-18,510000.0,2015-02-18,510000.0,0.0,0.0
5,7237550310,2014-05-12,1225000.0,4,4.50,5420,101930,1.0,0,0,3,11,3890,1530,2001,0,98053,47.656,-122.005,4760,101930,47.656:-122.005,2014-05-12,1225000.0,2014-05-12,1225000.0,0.0,0.0
6,1321400060,2014-06-27,257500.0,3,2.25,1715,6819,2.0,0,0,3,7,1715,0,1995,0,98003,47.309,-122.327,2238,6819,47.309:-122.327,2014-06-27,257500.0,2014-06-27,257500.0,0.0,0.0
7,2008000270,2015-01-15,291850.0,3,1.50,1060,9711,1.0,0,0,3,7,1060,0,1963,0,98198,47.409,-122.315,1650,9711,47.409:-122.315,2015-01-15,291850.0,2015-01-15,291850.0,0.0,0.0
8,2414600126,2015-04-15,229500.0,3,1.00,1780,7470,1.0,0,0,3,7,1050,730,1960,0,98146,47.512,-122.337,1780,8113,47.512:-122.337,2015-04-15,229500.0,2015-04-15,229500.0,0.0,0.0
9,3793500160,2015-03-12,323000.0,3,2.50,1890,6560,2.0,0,0,3,7,1890,0,2003,0,98038,47.368,-122.031,2390,7570,47.368:-122.031,2015-03-12,323000.0,2015-03-12,323000.0,0.0,0.0
10,1736800520,2015-04-03,662500.0,3,2.50,3560,9796,1.0,0,0,3,8,1860,1700,1965,0,98007,47.600,-122.145,2210,8925,47.600:-122.145,2015-04-03,662500.0,2015-04-03,662500.0,0.0,0.0
11,9212900260,2014-05-27,468000.0,2,1.00,1160,6000,1.0,0,0,4,7,860,300,1942,0,98115,47.69,-122.292,1330,6000,47.69:-122.292,2014-05-27,468000.0,2014-05-27,468000.0,0.0,0.0
12,114101516,2014-05-28,310000.0,3,1.00,1430,19901,1.5,0,0,4,7,1430,0,1927,0,98028,47.755,-122.229,1780,12697,47.755:-122.229,2014-05-28,310000.0,2014-05-28,310000.0,0.0,0.0
13,6054650070,2014-10-07,400000.0,3,1.75,1370,9680,1.0,0,0,4,7,1370,0,1977,0,98074,47.612,-122.045,1370,10208,47.612:-122.045,2014-10-07,400000.0,2014-10-07,400000.0,0.0,0.0
14,1175000570,2015-03-12,530000.0,5,2.00,1810,4850,1.5,0,0,3,7,1810,0,1900,0,98107,47.67,-122.394,1360,4850,47.67:-122.394,2015-03-12,530000.0,2015-03-12,530000.0,0.0,0.0
15,9297300055,2015-01-24,650000.0,4,3.00,2950,5000,2.0,0,3,3,9,1980,970,1979,0,98126,47.571,-122.375,2140,4000,47.571:-122.375,2015-01-24,650000.0,2015-01-24,650000.0,0.0,0.0
16,1875500060,2014-07-31,395000.0,3,2.00,1890,14040,2.0,0,0,3,7,1890,0,1994,0,98019,47.727,-121.962,1890,14018,47.727:-121.962,2014-07-31,395000.0,2014-07-31,395000.0,0.0,0.0
17,6865200140,2014-05-29,485000.0,4,1.00,1600,4300,1.5,0,0,4,7,1600,0,1916,0,98103,47.664,-122.343,1610,4300,47.664:-122.343,2014-05-29,485000.0,2014-05-29,485000.0,0.0,0.0
18,16000397,2014-12-05,189000.0,2,1.00,1200,9850,1.0,0,0,4,7,1200,0,1921,0,98002,47.308,-122.21,1060,5095,47.308:-122.21,2014-12-05,189000.0,2014-12-05,189000.0,0.0,0.0
19,7983200060,2015-04-24,230000.0,3,1.00,1250,9774,1.0,0,0,4,7,1250,0,1969,0,98003,47.334,-122.306,1280,8850,47.334:-122.306,2015-04-24,230000.0,2015-04-24,230000.0,0.0,0.0
20,6300500875,2014-05-14,385000.0,4,1.75,1620,4980,1.0,0,0,4,7,860,760,1947,0,98133,47.702,-122.341,1400,4980,47.702:-122.341,2014-05-14,385000.0,2014-05-14,385000.0,0.0,0.0
21,2524049179,2014-08-26,2000000.0,3,2.75,3050,44867,1.0,0,4,3,9,2330,720,1968,0,98040,47.531,-122.233,4110,20336,47.531:-122.233,2014-08-26,2000000.0,2014-08-26,2000000.0,0.0,0.0
22,7137970340,2014-07-03,285000.0,5,2.50,2270,6300,2.0,0,0,3,8,2270,0,1995,0,98092,47.326,-122.169,2240,7005,47.326:-122.169,2014-07-03,285000.0,2014-07-03,285000.0,0.0,0.0
23,8091400200,2014-05-16,252700.0,2,1.50,1070,9643,1.0,0,0,3,7,1070,0,1985,0,98030,47.353,-122.166,1220,8386,47.353:-122.166,2014-05-16,252700.0,2014-05-16,252700.0,0.0,0.0
24,3814700200,2014-11-20,329000.0,3,2.25,2450,6500,2.0,0,0,4,8,2450,0,1985,0,98030,47.373,-122.172,2200,6865,47.373:-122.172,2014-11-20,329000.0,2014-11-20,329000.0,0.0,0.0
25,1202000200,2014-11-03,233000.0,3,2.00,1710,4697,1.5,0,0,5,6,1710,0,1941,0,98002,47.304,-122.218,1030,4705,47.304:-122.218,2014-11-03,233000.0,2014-11-03,233000.0,0.0,0.0
26,1794500383,2014-06-26,937000.0,3,1.75,2450,2691,2.0,0,0,3,8,1750,700,1915,0,98119,47.638,-122.36,1760,3573,47.638:-122.36,2014-06-26,937000.0,2014-06-26,937000.0,0.0,0.0
27,3303700376,2014-12-01,667000.0,3,1.00,1400,1581,1.5,0,0,5,8,1400,0,1909,0,98112,47.622,-122.314,1860,3861,47.622:-122.314,2014-12-01,667000.0,2014-12-01,667000.0,0.0,0.0
28,5101402488,2014-06-24,438000.0,3,1.75,1520,6380,1.0,0,0,3,7,790,730,1948,0,98115,47.695,-122.304,1520,6235,47.695:-122.304,2014-06-24,438000.0,2014-06-24,438000.0,0.0,0.0
29,1873100390,2015-03-02,719000.0,4,2.50,2570,7173,2.0,0,0,3,8,2570,0,2005,0,98052,47.707,-122.11,2630,6026,47.707:-122.11,2015-03-02,719000.0,2015-03-02,719000.0,0.0,0.0
30,8562750320,2014-11-10,580500.0,3,2.50,2320,3980,2.0,0,0,3,8,2320,0,2003,0,98027,47.539,-122.07,2580,3980,47.539:-122.07,2014-11-10,580500.0,2014-11-10,580500.0,0.0,0.0
31,2426039314,2014-12-01,280000.0,2,1.50,1190,1265,3.0,0,0,3,7,1190,0,2005,0,98133,47.727,-122.357,1390,1756,47.727:-122.357,2014-12-01,280000.0,2014-12-01,280000.0,0.0,0.0
32,461000390,2014-06-24,687500.0,4,1.75,2330,5000,1.5,0,0,4,7,1510,820,1929,0,98117,47.682,-122.368,1460,5000,47.682:-122.368,2014-06-24,687500.0,2014-06-24,687500.0,0.0,0.0
33,7589200193,2014-11-10,535000.0,3,1.00,1090,3000,1.5,0,0,4,8,1090,0,1929,0,98117,47.688,-122.375,1570,5080,47.688:-122.375,2014-11-10,535000.0,2014-11-10,535000.0,0.0,0.0
34,7955080270,2014-12-03,322500.0,4,2.75,2060,6659,1.0,0,0,3,7,1280,780,1981,0,98058,47.427,-122.157,2020,8720,47.427:-122.157,2014-12-03,322500.0,2014-12-03,322500.0,0.0,0.0
35,9547205180,2014-06-13,696000.0,3,2.50,2300,3060,1.5,0,0,3,8,1510,790,1930,2002,98115,47.682,-122.31,1590,3264,47.682:-122.31,2014-06-13,696000.0,2014-06-13,696000.0,0.0,0.0
36,9435300030,2014-05-28,550000.0,4,1.00,1660,34848,1.0,0,0,1,5,930,730,1933,0,98052,47.662,-122.132,2160,11467,47.662:-122.132,2014-05-28,550000.0,2014-05-28,550000.0,0.0,0.0
37,2768000400,2014-12-30,640000.0,4,2.00,2360,6000,2.0,0,0,4,8,2360,0,1904,0,98107,47.670,-122.362,1730,4700,47.670:-122.362,2014-12-30,640000.0,2014-12-30,640000.0,0.0,0.0
38,7895500070,2015-02-13,240000.0,4,1.00,1220,8075,1.0,0,0,2,7,890,330,1969,0,98001,47.334,-122.282,1290,7800,47.334:-122.282,2015-02-13,240000.0,2015-02-13,240000.0,0.0,0.0
39,2078500320,2014-06-20,605000.0,4,2.50,2620,7553,2.0,0,0,3,8,2620,0,1996,0,98056,47.530,-122.18,2620,11884,47.530:-122.18,2014-06-20,605000.0,2014-06-20,605000.0,0.0,0.0
40,5547700270,2014-07-15,625000.0,4,2.50,2570,5520,2.0,0,0,3,9,2570,0,2000,0,98074,47.614,-122.027,2470,5669,47.614:-122.027,2014-07-15,625000.0,2014-07-15,625000.0,0.0,0.0
41,7766200013,2014-08-11,775000.0,4,2.25,4220,24186,1.0,0,0,3,8,2600,1620,1984,0,98166,47.445,-122.347,2410,30617,47.445:-122.347,2014-08-11,775000.0,2014-08-11,775000.0,0.0,0.0
42,7203220400,2014-07-07,861990.0,5,2.75,3595,5639,2.0,0,0,3,9,3595,0,2014,0,98053,47.684,-122.016,3625,5639,47.684:-122.016,2014-07-07,861990.0,2014-07-07,861990.0,0.0,0.0
43,9270200160,2014-10-28,685000.0,3,1.00,1570,2280,2.0,0,0,3,7,1570,0,1922,0,98119,47.641,-122.364,1580,2640,47.641:-122.364,2014-10-28,685000.0,2014-10-28,685000.0,0.0,0.0
44,1432701230,2014-07-29,309000.0,3,1.00,1280,9656,1.0,0,0,4,6,920,360,1959,0,98058,47.448,-122.175,1340,8808,47.448:-122.175,2014-07-29,309000.0,2014-07-29,309000.0,0.0,0.0
45,8035350320,2014-07-18,488000.0,3,2.50,3160,13603,2.0,0,0,3,8,3160,0,2003,0,98019,47.744,-121.977,3050,9232,47.744:-121.977,2014-07-18,488000.0,2014-07-18,488000.0,0.0,0.0
46,8945200830,2015-03-25,210490.0,3,1.00,990,8528,1.0,0,0,3,6,990,0,1966,0,98023,47.306,-122.371,1228,8840,47.306:-122.371,2015-03-25,210490.0,2015-03-25,210490.0,0.0,0.0
47,4178300310,2014-07-16,785000.0,4,2.50,2290,13416,2.0,0,0,4,9,2290,0,1981,0,98007,47.619,-122.151,2680,13685,47.619:-122.151,2014-07-16,785000.0,2014-07-16,785000.0,0.0,0.0
48,9215400105,2015-04-28,450000.0,3,1.75,1250,5963,1.0,0,0,4,7,1250,0,1953,0,98115,47.679,-122.301,970,5100,47.679:-122.301,2015-04-28,450000.0,2015-04-28,450000.0,0.0,0.0
49,822039084,2015-03-11,1350000.0,3,2.50,2753,65005,1.0,1,2,5,9,2165,588,1953,0,98070,47.404,-122.451,2680,72513,47.404:-122.451,2015-03-11,1350000.0,2015-03-11,1350000.0,0.0,0.0

In [ ]:
# PREÇO DA CASA

In [40]:
prec = df['preço'].tolist()
preco = []
for x in prec:
    y = x*5.18
    preco.append(y)
    
print(preco[0:10])

[1149442.0, 2786840.0, 932400.0, 3128720.0, 2641800.0, 6345500.0, 1333850.0, 1511783.0, 1188810.0, 1673140.0]

In [41]:
# VALOR POR METRO QUADRADO
valor_cm2 = []
for x, y in zip(preco, casa_m2):
    valor_cm2.append(x/y)
print(valor_cm2[0:10])

[3195.0244607516124, 3556.729713862726, 3971.7157948543195, 5235.825691143986, 5157.750878563061, 3840.0789136065455, 2551.016505058619, 4677.980629390104, 2190.627994398172, 2903.6479122557357]

In [42]:
IDs = df['registro'].tolist()
print(len(IDs))

21613

In [109]:
# SOMA DE TODAS AS PONTUAÇÕES
d = []
for b1, b2, b3, b4, b5, b6, b7, b8, b9, b10, b11, b12 in zip(cm2, bn, cd, pr, vs, fm, pv, cepp, qu1, lm2,const, yrfm):
        d.append(b1 + b2+ b3+ b4+ b5+ b6+ b7+ b8+ b9+ b10+ b11+ b12)
print(len(d), '\n')

rank_casas = dict()
for x, y in zip(IDs,d):
    rank_casas[x] = y

rank_casas_T = sorted(rank_casas.items(), key=lambda x: x[1], reverse = True)
rank_casas_F = sorted(rank_casas.items(), key=lambda x: x[1], reverse = False)

print(rank_casas_T[0:10], '\n')
print(rank_casas_F[0:10])

21613

[(1225069038, 37), (6762700020, 36), (9208900037, 36), (1924059029, 35), (2303900035, 34), (7558700030, 32), (7738500731, 31), (2424049029, 31), (1247600105, 30), (3303850390, 30)]

[(3980300371, 3), (5702500050, 5), (8658300340, 6), (859000110, 6), (6896300380, 6), (4008400515, 6), (2023049218, 6), (745000005, 6), (3421079032, 7), (723049596, 7)]

In [50]:
df['pontuacao'] = d

In [51]:
df

,registro,data,preço,quartos,banheiros,casa_m²,lote_m²,nº_pavtos,frente_mar,visao,condicao,padrao,excluir_3,subsolo_m²,construção,reforma,cep,lat,log,exclur_1,excluir_2,chave,data_x,preço_x,data_y,preço_y,variacao,%variacao,pontuação,pontuacao
0,7129300520,2014-10-13,1149442.00,3,1.00,359.76,1722.56,1.0,0,0,3,7,1180,0,1955,0,98178,47.511,-122.257,1340,5650,47.511:-122.257,2014-10-13,221900.0,2014-10-13,221900.0,0.0,0.0,12,12
1,6414100192,2014-12-09,2786840.00,3,2.25,783.54,2207.93,2.0,0,0,3,7,2170,400,1951,1991,98125,47.721,-122.319,1690,7639,47.721:-122.319,2014-12-09,538000.0,2014-12-09,538000.0,0.0,0.0,15,15
2,5631500400,2015-02-25,932400.00,2,1.00,234.76,3048.78,1.0,0,0,3,6,770,0,1933,0,98028,47.737,-122.233,2720,8062,47.737:-122.233,2015-02-25,180000.0,2015-02-25,180000.0,0.0,0.0,9,9
3,2487200875,2014-12-09,3128720.00,4,3.00,597.56,1524.39,1.0,0,0,5,7,1050,910,1965,0,98136,47.520,-122.393,1360,5000,47.520:-122.393,2014-12-09,604000.0,2014-12-09,604000.0,0.0,0.0,17,17
4,1954400510,2015-02-18,2641800.00,3,2.00,512.20,2463.41,1.0,0,0,3,8,1680,0,1987,0,98074,47.616,-122.045,1800,7503,47.616:-122.045,2015-02-18,510000.0,2015-02-18,510000.0,0.0,0.0,15,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,2014-05-21,1864800.00,3,2.50,466.46,344.82,3.0,0,0,3,8,1530,0,2009,0,98103,47.699,-122.346,1530,1509,47.699:-122.346,2014-05-21,360000.0,2014-05-21,360000.0,0.0,0.0,17,17
21609,6600060120,2015-02-23,2072000.00,4,2.50,704.27,1772.26,2.0,0,0,3,8,2310,0,2014,0,98146,47.510,-122.362,1830,7200,47.510:-122.362,2015-02-23,400000.0,2015-02-23,400000.0,0.0,0.0,17,17
21610,1523300141,2014-06-23,2082883.18,2,0.75,310.98,411.59,2.0,0,0,3,7,1020,0,2009,0,98144,47.594,-122.299,1020,2007,47.594:-122.299,2014-06-23,402101.0,2014-06-23,402101.0,0.0,0.0,14,14
21611,291310100,2015-01-16,2072000.00,3,2.50,487.80,728.05,2.0,0,0,3,8,1600,0,2004,0,98027,47.534,-122.069,1410,1287,47.534:-122.069,2015-01-16,400000.0,2015-01-16,400000.0,0.0,0.0,16,16
21612,1523300157,2014-10-15,1683500.00,2,0.75,310.98,328.05,2.0,0,0,3,7,1020,0,2008,0,98144,47.594,-122.299,1020,1357,47.594:-122.299,2014-10-15,325000.0,2014-10-15,325000.0,0.0,0.0,14,14

In [52]:
df = df.reset_index(drop=True)

In [53]:
df['casa_m²'] = casa_m2
df['preço'] = preco
df['lote_m²'] = lotem2

In [68]:
df.tail()

,registro,data,preço,quartos,banheiros,casa_m²,lote_m²,nº_pavtos,frente_mar,visao,condicao,padrao,excluir_3,subsolo_m²,construção,reforma,cep,lat,log,exclur_1,excluir_2,chave,data_x,preço_x,data_y,preço_y,variacao,%variacao,pontuação,pontuacao
21608,263000018,2014-05-21,1864800.00,3,2.50,466.46,344.82,3.0,0,0,3,8,1530,0,2009,0,98103,47.699,-122.346,1530,1509,47.699:-122.346,2014-05-21,360000.0,2014-05-21,360000.0,0.0,0.0,17,17
21609,6600060120,2015-02-23,2072000.00,4,2.50,704.27,1772.26,2.0,0,0,3,8,2310,0,2014,0,98146,47.510,-122.362,1830,7200,47.510:-122.362,2015-02-23,400000.0,2015-02-23,400000.0,0.0,0.0,17,17
21610,1523300141,2014-06-23,2082883.18,2,0.75,310.98,411.59,2.0,0,0,3,7,1020,0,2009,0,98144,47.594,-122.299,1020,2007,47.594:-122.299,2014-06-23,402101.0,2014-06-23,402101.0,0.0,0.0,14,14
21611,291310100,2015-01-16,2072000.00,3,2.50,487.80,728.05,2.0,0,0,3,8,1600,0,2004,0,98027,47.534,-122.069,1410,1287,47.534:-122.069,2015-01-16,400000.0,2015-01-16,400000.0,0.0,0.0,16,16
21612,1523300157,2014-10-15,1683500.00,2,0.75,310.98,328.05,2.0,0,0,3,7,1020,0,2008,0,98144,47.594,-122.299,1020,1357,47.594:-122.299,2014-10-15,325000.0,2014-10-15,325000.0,0.0,0.0,14,14

In [102]:
worst_homes = df.sort_values(by=['pontuacao']).head(20)

In [103]:
best_homes = df.sort_values(by=['pontuacao']).tail(20)

In [105]:
# 5 CASAS MAIS BEM AVALIADAS PARA INVESTIR
best_homes.sort_values(by=['preço']).head(5)

,registro,data,preço,quartos,banheiros,casa_m²,lote_m²,nº_pavtos,frente_mar,visao,condicao,padrao,excluir_3,subsolo_m²,construção,reforma,cep,lat,log,exclur_1,excluir_2,chave,data_x,preço_x,data_y,preço_y,variacao,%variacao,pontuação,pontuacao
4024,9175600025,2014-10-07,4144000.0,7,6.75,2280.49,12702.44,2.0,0,2,3,11,5080,2400,1953,0,98166,47.464,-122.368,2810,33190,47.464:-122.368,2014-10-07,800000.0,2014-10-07,800000.0,0.0,0.0,29,29
21050,2424059170,2015-02-19,4662000.0,5,6.00,2170.73,12440.85,2.0,0,4,3,12,5480,1640,2007,0,98006,47.545,-122.114,3440,36859,47.545:-122.114,2015-02-19,900000.0,2015-02-19,900000.0,0.0,0.0,30,30
21344,8835770170,2014-08-22,7707840.0,5,6.00,2097.56,85356.10,2.0,0,3,3,12,4070,2810,2007,0,98045,47.462,-121.779,4690,256803,47.462:-121.779,2014-08-22,1488000.0,2014-08-22,1488000.0,0.0,0.0,29,29
15668,4030100290,2014-10-01,8702400.0,5,3.50,1576.22,2194.21,3.0,1,4,3,11,3520,1650,1998,0,98155,47.756,-122.271,3020,12880,47.756:-122.271,2014-10-01,1680000.0,2014-10-01,1680000.0,0.0,0.0,29,29
6501,2626069030,2015-02-09,10049200.0,4,5.75,2201.22,68128.66,2.0,0,4,3,12,6220,1000,2000,0,98053,47.709,-122.013,2680,7593,47.709:-122.013,2015-02-09,1940000.0,2015-02-09,1940000.0,0.0,0.0,29,29

In [106]:
# 5 CASAS MAIS BEM AVALIADAS PARA NÃO SE INVESTIR
worst_homes.sort_values(by=['preço']).tail(5)

,registro,data,preço,quartos,banheiros,casa_m²,lote_m²,nº_pavtos,frente_mar,visao,condicao,padrao,excluir_3,subsolo_m²,construção,reforma,cep,lat,log,exclur_1,excluir_2,chave,data_x,preço_x,data_y,preço_y,variacao,%variacao,pontuação,pontuacao
12453,4022900951,2015-04-02,1579900.0,2,1.00,277.44,6928.35,1.0,0,0,1,6,910,0,1926,0,98155,47.771,-122.299,2000,14566,47.771:-122.299,2015-04-02,305000.0,2015-04-02,305000.0,0.0,0.000000,7,7
8600,2461900845,2014-09-03,1605800.0,1,1.00,173.78,1829.27,1.0,0,0,2,5,570,0,1918,0,98136,47.551,-122.385,1530,6000,47.551:-122.385,2014-09-03,310000.0,2014-09-03,310000.0,0.0,0.000000,7,7
8623,6303400395,2015-01-30,1683500.0,1,0.75,125.00,2632.93,1.0,0,0,2,4,410,0,1953,0,98146,47.507,-122.357,1190,8636,47.507:-122.357,2015-01-30,325000.0,2015-01-30,325000.0,0.0,0.000000,7,7
13629,2023049218,2015-03-16,2305100.0,2,1.00,283.54,2359.76,1.0,0,0,1,5,930,0,1932,0,98148,47.461,-122.324,1620,8584,47.461:-122.324,2015-03-16,445000.0,2014-07-16,105500.0,339500.0,3.218009,6,6
18645,7942600910,2014-12-16,2978500.0,1,1.00,399.39,2642.38,1.5,0,0,1,6,1310,0,1918,0,98122,47.605,-122.313,1130,4800,47.605:-122.313,2014-12-16,575000.0,2014-12-16,575000.0,0.0,0.000000,7,7