# Relatório de Análise de Investimento

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../dados/kc_house_data.csv', sep = ',')
df.head(50)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570
10,1736800520,20150403T000000,662500.0,3,2.50,3560,9796,1.0,0,0,...,8,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925
11,9212900260,20140527T000000,468000.0,2,1.00,1160,6000,1.0,0,0,...,7,860,300,1942,0,98115,47.6900,-122.292,1330,6000
12,114101516,20140528T000000,310000.0,3,1.00,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
13,6054650070,20141007T000000,400000.0,3,1.75,1370,9680,1.0,0,0,...,7,1370,0,1977,0,98074,47.6127,-122.045,1370,10208
14,1175000570,20150312T000000,530000.0,5,2.00,1810,4850,1.5,0,0,...,7,1810,0,1900,0,98107,47.6700,-122.394,1360,4850
15,9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
16,1875500060,20140731T000000,395000.0,3,2.00,1890,14040,2.0,0,0,...,7,1890,0,1994,0,98019,47.7277,-121.962,1890,14018
17,6865200140,20140529T000000,485000.0,4,1.00,1600,4300,1.5,0,0,...,7,1600,0,1916,0,98103,47.6648,-122.343,1610,4300
18,16000397,20141205T000000,189000.0,2,1.00,1200,9850,1.0,0,0,...,7,1200,0,1921,0,98002,47.3089,-122.210,1060,5095
19,7983200060,20150424T000000,230000.0,3,1.00,1250,9774,1.0,0,0,...,7,1250,0,1969,0,98003,47.3343,-122.306,1280,8850
20,6300500875,20140514T000000,385000.0,4,1.75,1620,4980,1.0,0,0,...,7,860,760,1947,0,98133,47.7025,-122.341,1400,4980
21,2524049179,20140826T000000,2000000.0,3,2.75,3050,44867,1.0,0,4,...,9,2330,720,1968,0,98040,47.5316,-122.233,4110,20336
22,7137970340,20140703T000000,285000.0,5,2.50,2270,6300,2.0,0,0,...,8,2270,0,1995,0,98092,47.3266,-122.169,2240,7005
23,8091400200,20140516T000000,252700.0,2,1.50,1070,9643,1.0,0,0,...,7,1070,0,1985,0,98030,47.3533,-122.166,1220,8386
24,3814700200,20141120T000000,329000.0,3,2.25,2450,6500,2.0,0,0,...,8,2450,0,1985,0,98030,47.3739,-122.172,2200,6865
25,1202000200,20141103T000000,233000.0,3,2.00,1710,4697,1.5,0,0,...,6,1710,0,1941,0,98002,47.3048,-122.218,1030,4705
26,1794500383,20140626T000000,937000.0,3,1.75,2450,2691,2.0,0,0,...,8,1750,700,1915,0,98119,47.6386,-122.360,1760,3573
27,3303700376,20141201T000000,667000.0,3,1.00,1400,1581,1.5,0,0,...,8,1400,0,1909,0,98112,47.6221,-122.314,1860,3861
28,5101402488,20140624T000000,438000.0,3,1.75,1520,6380,1.0,0,0,...,7,790,730,1948,0,98115,47.6950,-122.304,1520,6235
29,1873100390,20150302T000000,719000.0,4,2.50,2570,7173,2.0,0,0,...,8,2570,0,2005,0,98052,47.7073,-122.110,2630,6026
30,8562750320,20141110T000000,580500.0,3,2.50,2320,3980,2.0,0,0,...,8,2320,0,2003,0,98027,47.5391,-122.070,2580,3980
31,2426039314,20141201T000000,280000.0,2,1.50,1190,1265,3.0,0,0,...,7,1190,0,2005,0,98133,47.7274,-122.357,1390,1756
32,461000390,20140624T000000,687500.0,4,1.75,2330,5000,1.5,0,0,...,7,1510,820,1929,0,98117,47.6823,-122.368,1460,5000
33,7589200193,20141110T000000,535000.0,3,1.00,1090,3000,1.5,0,0,...,8,1090,0,1929,0,98117,47.6889,-122.375,1570,5080
34,7955080270,20141203T000000,322500.0,4,2.75,2060,6659,1.0,0,0,...,7,1280,780,1981,0,98058,47.4276,-122.157,2020,8720
35,9547205180,20140613T000000,696000.0,3,2.50,2300,3060,1.5,0,0,...,8,1510,790,1930,2002,98115,47.6827,-122.310,1590,3264
36,9435300030,20140528T000000,550000.0,4,1.00,1660,34848,1.0,0,0,...,5,930,730,1933,0,98052,47.6621,-122.132,2160,11467
37,2768000400,20141230T000000,640000.0,4,2.00,2360,6000,2.0,0,0,...,8,2360,0,1904,0,98107,47.6702,-122.362,1730,4700
38,7895500070,20150213T000000,240000.0,4,1.00,1220,8075,1.0,0,0,...,7,890,330,1969,0,98001,47.3341,-122.282,1290,7800
39,2078500320,20140620T000000,605000.0,4,2.50,2620,7553,2.0,0,0,...,8,2620,0,1996,0,98056,47.5301,-122.180,2620,11884
40,5547700270,20140715T000000,625000.0,4,2.50,2570,5520,2.0,0,0,...,9,2570,0,2000,0,98074,47.6145,-122.027,2470,5669
41,7766200013,20140811T000000,775000.0,4,2.25,4220,24186,1.0,0,0,...,8,2600,1620,1984,0,98166,47.4450,-122.347,2410,30617
42,7203220400,20140707T000000,861990.0,5,2.75,3595,5639,2.0,0,0,...,9,3595,0,2014,0,98053,47.6848,-122.016,3625,5639
43,9270200160,20141028T000000,685000.0,3,1.00,1570,2280,2.0,0,0,...,7,1570,0,1922,0,98119,47.6413,-122.364,1580,2640
44,1432701230,20140729T000000,309000.0,3,1.00,1280,9656,1.0,0,0,...,6,920,360,1959,0,98058,47.4485,-122.175,1340,8808
45,8035350320,20140718T000000,488000.0,3,2.50,3160,13603,2.0,0,0,...,8,3160,0,2003,0,98019,47.7443,-121.977,3050,9232
46,8945200830,20150325T000000,210490.0,3,1.00,990,8528,1.0,0,0,...,6,990,0,1966,0,98023,47.3066,-122.371,1228,8840
47,4178300310,20140716T000000,785000.0,4,2.50,2290,13416,2.0,0,0,...,9,2290,0,1981,0,98007,47.6194,-122.151,2680,13685
48,9215400105,20150428T000000,450000.0,3,1.75,1250,5963,1.0,0,0,...,7,1250,0,1953,0,98115,47.6796,-122.301,970,5100
49,822039084,20150311T000000,1350000.0,3,2.50,2753,65005,1.0,1,2,...,9,2165,588,1953,0,98070,47.4041,-122.451,2680,72513

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [4]:
tipo_dados = pd.DataFrame(df.dtypes, columns = ['Tipos de Dados'])
tipo_dados.columns.name = 'Variáveis'
tipo_dados

Variáveis     Tipos de Dados
id                     int64
date                  object
price                float64
bedrooms               int64
bathrooms            float64
sqft_living            int64
sqft_lot               int64
floors               float64
waterfront             int64
view                   int64
condition              int64
grade                  int64
sqft_above             int64
sqft_basement          int64
yr_built               int64
yr_renovated           int64
zipcode                int64
lat                  float64
long                 float64
sqft_living15          int64
sqft_lot15             int64

In [5]:
print(f'Base de dados apresenta {df.shape[0]} registros de imóveis e {df.shape[1]} variáveis.')

Base de dados apresenta 21613 registros de imóveis e 21 variáveis.

In [6]:
list(df['yr_built'].drop_duplicates())

[1955,
 1951,
 1933,
 1965,
 1987,
 2001,
 1995,
 1963,
 1960,
 2003,
 1942,
 1927,
 1977,
 1900,
 1979,
 1994,
 1916,
 1921,
 1969,
 1947,
 1968,
 1985,
 1941,
 1915,
 1909,
 1948,
 2005,
 1929,
 1981,
 1930,
 1904,
 1996,
 2000,
 1984,
 2014,
 1922,
 1959,
 1966,
 1953,
 1950,
 2008,
 1991,
 1954,
 1973,
 1925,
 1989,
 1972,
 1986,
 1956,
 2002,
 1992,
 1964,
 1952,
 1961,
 2006,
 1988,
 1962,
 1939,
 1946,
 1967,
 1975,
 1980,
 1910,
 1983,
 1978,
 1905,
 1971,
 2010,
 1945,
 1924,
 1990,
 1914,
 1926,
 2004,
 1923,
 2007,
 1976,
 1949,
 1999,
 1901,
 1993,
 1920,
 1997,
 1943,
 1957,
 1940,
 1918,
 1928,
 1974,
 1911,
 1936,
 1937,
 1982,
 1908,
 1931,
 1998,
 1913,
 2013,
 1907,
 1958,
 2012,
 1912,
 2011,
 1917,
 1932,
 1944,
 1902,
 2009,
 1903,
 1970,
 2015,
 1934,
 1938,
 1919,
 1906,
 1935]

In [7]:
lista = [1955,
 1951,
 1933,
 1965,
 1987,
 2001,
 1995,
 1963,
 1960,
 2003,
 1942,
 1927,
 1977,
 1900,
 1979,
 1994,
 1916,
 1921,
 1969,
 1947,
 1968,
 1985,
 1941,
 1915,
 1909,
 1948,
 2005,
 1929,
 1981,
 1930,
 1904,
 1996,
 2000,
 1984,
 2014,
 1922,
 1959,
 1966,
 1953,
 1950,
 2008,
 1991,
 1954,
 1973,
 1925,
 1989,
 1972,
 1986,
 1956,
 2002,
 1992,
 1964,
 1952,
 1961,
 2006,
 1988,
 1962,
 1939,
 1946,
 1967,
 1975,
 1980,
 1910,
 1983,
 1978,
 1905,
 1971,
 2010,
 1945,
 1924,
 1990,
 1914,
 1926,
 2004,
 1923,
 2007,
 1976,
 1949,
 1999,
 1901,
 1993,
 1920,
 1997,
 1943,
 1957,
 1940,
 1918,
 1928,
 1974,
 1911,
 1936,
 1937,
 1982,
 1908,
 1931,
 1998,
 1913,
 2013,
 1907,
 1958,
 2012,
 1912,
 2011,
 1917,
 1932,
 1944,
 1902,
 2009,
 1903,
 1970,
 2015,
 1934,
 1938,
 1919,
 1906,
 1935]

In [8]:
lista.sort(reverse = True)

In [9]:
lista

[2015,
 2014,
 2013,
 2012,
 2011,
 2010,
 2009,
 2008,
 2007,
 2006,
 2005,
 2004,
 2003,
 2002,
 2001,
 2000,
 1999,
 1998,
 1997,
 1996,
 1995,
 1994,
 1993,
 1992,
 1991,
 1990,
 1989,
 1988,
 1987,
 1986,
 1985,
 1984,
 1983,
 1982,
 1981,
 1980,
 1979,
 1978,
 1977,
 1976,
 1975,
 1974,
 1973,
 1972,
 1971,
 1970,
 1969,
 1968,
 1967,
 1966,
 1965,
 1964,
 1963,
 1962,
 1961,
 1960,
 1959,
 1958,
 1957,
 1956,
 1955,
 1954,
 1953,
 1952,
 1951,
 1950,
 1949,
 1948,
 1947,
 1946,
 1945,
 1944,
 1943,
 1942,
 1941,
 1940,
 1939,
 1938,
 1937,
 1936,
 1935,
 1934,
 1933,
 1932,
 1931,
 1930,
 1929,
 1928,
 1927,
 1926,
 1925,
 1924,
 1923,
 1922,
 1921,
 1920,
 1919,
 1918,
 1917,
 1916,
 1915,
 1914,
 1913,
 1912,
 1911,
 1910,
 1909,
 1908,
 1907,
 1906,
 1905,
 1904,
 1903,
 1902,
 1901,
 1900]

In [10]:
new_residences = [2015,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005]

In [11]:
df

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,0,...,8,1530,0,2009,0,98103,47.6993,-122.346,1530,1509
21609,6600060120,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,0,...,8,2310,0,2014,0,98146,47.5107,-122.362,1830,7200
21610,1523300141,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,0,...,7,1020,0,2009,0,98144,47.5944,-122.299,1020,2007
21611,291310100,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,0,...,8,1600,0,2004,0,98027,47.5345,-122.069,1410,1287
21612,1523300157,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,0,...,7,1020,0,2008,0,98144,47.5941,-122.299,1020,1357

In [12]:
selection = df['yr_built'].isin(new_residences)
selection

0        False
1        False
2        False
3        False
4        False
         ...
21608     True
21609     True
21610     True
21611    False
21612     True
Name: yr_built, Length: 21613, dtype: bool

# Criado um novo DataFrame

## Imóveis a partir do ano de 2005

In [13]:
df_new = df[selection]

In [14]:
df_new.head(10)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
29,1873100390,20150302T000000,719000.0,4,2.50,2570,7173,2.0,0,0,...,8,2570,0,2005,0,98052,47.7073,-122.110,2630,6026
31,2426039314,20141201T000000,280000.0,2,1.50,1190,1265,3.0,0,0,...,7,1190,0,2005,0,98133,47.7274,-122.357,1390,1756
42,7203220400,20140707T000000,861990.0,5,2.75,3595,5639,2.0,0,0,...,9,3595,0,2014,0,98053,47.6848,-122.016,3625,5639
56,9478500640,20140819T000000,292500.0,4,2.50,2250,4495,2.0,0,0,...,7,2250,0,2008,0,98042,47.3663,-122.114,2250,4500
63,9528102996,20141207T000000,549000.0,3,1.75,1540,1044,3.0,0,0,...,8,1540,0,2014,0,98115,47.6765,-122.320,1580,3090
67,3717000160,20141009T000000,287000.0,4,2.50,2240,4648,2.0,0,0,...,7,2240,0,2005,0,98001,47.3378,-122.257,2221,4557
73,5416510140,20140710T000000,360000.0,4,2.50,2380,5000,2.0,0,0,...,8,2380,0,2005,0,98038,47.3608,-122.036,2420,5000
87,3342103156,20140618T000000,461000.0,3,3.25,2770,6278,2.0,0,0,...,9,1980,790,2006,0,98056,47.5228,-122.199,1900,7349
89,3869900162,20140904T000000,335000.0,2,1.75,1030,1066,2.0,0,0,...,7,765,265,2006,0,98136,47.5394,-122.387,1030,1106
116,3362400431,20140626T000000,518500.0,3,3.50,1590,1102,3.0,0,0,...,8,1590,0,2010,0,98103,47.6824,-122.347,1620,3166

In [15]:
l_new = list(df_new['yr_built'].drop_duplicates())

In [16]:
l_new.sort(reverse = False)

In [17]:
l_new

[2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015]

In [18]:
df_new.shape[0]

3159

In [19]:
df_new.index = range(df_new.shape[0])

In [20]:
df_new.head(50)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,1873100390,20150302T000000,719000.0,4,2.50,2570,7173,2.0,0,0,...,8,2570,0,2005,0,98052,47.7073,-122.110,2630,6026
1,2426039314,20141201T000000,280000.0,2,1.50,1190,1265,3.0,0,0,...,7,1190,0,2005,0,98133,47.7274,-122.357,1390,1756
2,7203220400,20140707T000000,861990.0,5,2.75,3595,5639,2.0,0,0,...,9,3595,0,2014,0,98053,47.6848,-122.016,3625,5639
3,9478500640,20140819T000000,292500.0,4,2.50,2250,4495,2.0,0,0,...,7,2250,0,2008,0,98042,47.3663,-122.114,2250,4500
4,9528102996,20141207T000000,549000.0,3,1.75,1540,1044,3.0,0,0,...,8,1540,0,2014,0,98115,47.6765,-122.320,1580,3090
5,3717000160,20141009T000000,287000.0,4,2.50,2240,4648,2.0,0,0,...,7,2240,0,2005,0,98001,47.3378,-122.257,2221,4557
6,5416510140,20140710T000000,360000.0,4,2.50,2380,5000,2.0,0,0,...,8,2380,0,2005,0,98038,47.3608,-122.036,2420,5000
7,3342103156,20140618T000000,461000.0,3,3.25,2770,6278,2.0,0,0,...,9,1980,790,2006,0,98056,47.5228,-122.199,1900,7349
8,3869900162,20140904T000000,335000.0,2,1.75,1030,1066,2.0,0,0,...,7,765,265,2006,0,98136,47.5394,-122.387,1030,1106
9,3362400431,20140626T000000,518500.0,3,3.50,1590,1102,3.0,0,0,...,8,1590,0,2010,0,98103,47.6824,-122.347,1620,3166
10,8929000270,20140512T000000,453246.0,3,2.50,2010,2287,2.0,0,0,...,8,1390,620,2014,0,98029,47.5517,-121.998,1690,1662
11,2767602356,20150126T000000,675000.0,4,3.50,2140,2278,3.0,0,0,...,9,2140,0,2005,0,98107,47.6734,-122.380,1540,2285
12,2767603505,20140507T000000,519950.0,3,2.25,1170,1249,3.0,0,0,...,8,1170,0,2014,0,98107,47.6722,-122.381,1350,1310
13,3224079105,20140806T000000,430000.0,2,2.50,2420,60984,2.0,0,0,...,7,2420,0,2007,0,98027,47.5262,-121.943,1940,193842
14,7855801670,20150401T000000,2250000.0,4,3.25,5180,19850,2.0,0,3,...,12,3540,1640,2006,0,98006,47.5620,-122.162,3160,9750
15,7234600798,20150210T000000,425000.0,3,2.50,1120,1100,2.0,0,0,...,8,820,300,2008,0,98122,47.6106,-122.310,1590,1795
16,3278600320,20140723T000000,465000.0,3,2.50,2150,4084,2.0,0,0,...,8,2150,0,2007,0,98126,47.5488,-122.372,1750,2385
17,9526600140,20140919T000000,677900.0,3,2.50,2440,4587,2.0,0,0,...,8,2440,0,2010,0,98052,47.7073,-122.114,2750,4587
18,1025049114,20140717T000000,625504.0,3,2.25,1270,1566,2.0,0,0,...,8,1060,210,2014,0,98105,47.6647,-122.284,1160,1327
19,4014400292,20150114T000000,465000.0,3,2.50,2714,17936,2.0,0,0,...,9,2714,0,2005,0,98001,47.3185,-122.275,2590,18386
20,8682281200,20150309T000000,479950.0,2,2.00,1510,6516,1.0,0,0,...,8,1510,0,2005,0,98053,47.7076,-122.013,1640,6009
21,1873100060,20140829T000000,693000.0,4,2.50,2460,4425,2.0,0,0,...,8,2460,0,2006,0,98052,47.7048,-122.109,2990,5659
22,4215100060,20150320T000000,365000.0,3,2.50,2653,4510,2.0,0,0,...,8,2653,0,2006,0,98031,47.4145,-122.166,2653,4927
23,1126049053,20141113T000000,770000.0,4,2.75,3820,26300,2.0,0,0,...,9,2850,970,2014,0,98028,47.7618,-122.261,1860,12136
24,7202360350,20140630T000000,780000.0,4,2.50,3500,7048,2.0,0,0,...,9,3500,0,2005,0,98053,47.6811,-122.025,3920,7864
25,5104530560,20150401T000000,208633.0,3,2.50,2040,3810,2.0,0,0,...,8,2040,0,2006,0,98038,47.3537,-122.000,2370,4590
26,325059286,20140513T000000,819900.0,5,2.75,3150,7119,2.0,0,0,...,9,3150,0,2013,0,98052,47.6759,-122.151,1560,8384
27,1115300070,20141106T000000,684000.0,4,3.50,3040,8414,2.0,0,0,...,9,2420,620,2010,0,98059,47.5222,-122.157,3470,8066
28,5416510830,20140806T000000,300000.0,4,2.50,1910,4862,2.0,0,0,...,7,1910,0,2005,0,98038,47.3607,-122.034,2010,5091
29,925059078,20140819T000000,604950.0,3,2.50,2110,5608,1.0,0,0,...,8,1340,770,2013,0,98033,47.6743,-122.184,2040,9363
30,4047200695,20140618T000000,330000.0,3,2.50,1600,26977,2.0,0,0,...,8,1600,0,2005,0,98019,47.7736,-121.901,1790,27743
31,9126100861,20150306T000000,557000.0,3,3.50,1710,2096,2.0,0,0,...,8,1290,420,2008,0,98122,47.6055,-122.305,1630,1543
32,2422029094,20140716T000000,517534.0,2,1.00,833,143947,1.0,0,0,...,5,833,0,2006,0,98070,47.3889,-122.482,1380,143947
33,8724300030,20141223T000000,355000.0,3,2.25,1860,5028,2.0,0,0,...,8,1860,0,2012,0,98019,47.7318,-121.982,2320,5465
34,305500140,20150512T000000,365000.0,3,2.50,2200,4052,2.0,0,0,...,8,2200,0,2005,0,98058,47.4362,-122.178,2310,5082
35,646910160,20140903T000000,237000.0,3,2.50,1490,2138,2.0,0,0,...,7,1490,0,2005,0,98055,47.4324,-122.197,1490,2094
36,2024069128,20141110T000000,1030000.0,3,2.50,3545,9816,1.0,0,0,...,10,2610,935,2005,0,98027,47.5534,-122.078,3630,7704
37,6154500070,20140626T000000,1050000.0,4,3.50,3450,7832,2.0,0,0,...,10,3450,0,2007,0,98006,47.5637,-122.123,3220,8567
38,1853080570,20140811T000000,859900.0,4,2.75,3390,6298,2.0,0,0,...,9,3390,0,2011,0,98074,47.5906,-122.062,3390,7111
39,1604602050,20140711T000000,460000.0,3,2.50,1610,2527,2.0,0,2,...,9,1080,530,2005,0,98118,47.5674,-122.290,1610,4173
40,3885805665,20140612T000000,1485000.0,4,3.75,4030,10800,2.0,0,0,...,10,4030,0,2006,0,98033,47.6821,-122.196,2160,7200
41,5126310400,20150305T000000,480000.0,4,2.50,2600,7787,2.0,0,0,...,8,2600,0,2005,0,98059,47.4877,-122.139,2830,7787
42,1923069078,20140805T000000,890000.0,4,3.25,3180,194278,2.0,0,0,...,10,3180,0,2005,0,98059,47.4711,-122.084,2200,178160
43,726049331,20150326T000000,515000.0,5,3.00,2530,5105,1.0,0,0,...,8,1520,1010,2005,0,98133,47.7546,-122.341,2290,4011
44,7899800860,20150319T000000,259950.0,2,2.00,1070,649,2.0,0,0,...,9,720,350,2008,0,98106,47.5213,-122.357,1070,928
45,6431500140,20141217T000000,880000.0,3,2.50,2870,5163,2.0,0,0,...,9,2870,0,2014,0,98103,47.6935,-122.352,1630,7995
46,7203102050,20140728T000000,435000.0,3,2.50,1840,5680,2.0,0,0,...,7,1840,0,2008,0,98053,47.6969,-122.026,1600,4697
47,8669160310,20141209T000000,266000.0,3,2.50,1805,3402,2.0,0,0,...,7,1805,0,2009,0,98002,47.3521,-122.212,2095,3402
48,1526069135,20141211T000000,930000.0,4,4.00,6050,84942,2.5,0,2,...,9,4150,1900,2009,0,98077,47.7466,-122.029,2700,199504
49,7853240200,20140516T000000,619000.0,3,2.50,2720,6439,2.0,0,0,...,9,2720,0,2005,0,98065,47.5422,-121.860,3180,7320

In [21]:
df_new.to_csv("../dados/kc_house_data_new.csv", sep = ';', index = False)